body {
    background: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#container {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    position: relative;
}

h2 {
    width: 354px;
    height: 80px;
    font-family: 'Karla', sans-serif;
    font-size: 35px;
    position: absolute;
    left: 52px;
    top: 115px;
    line-height: 40px;
}

h2 #lineOne {
    color: white;
    line-height: 40px;
}

h2 #lineTwo {
    color: #4ADF86;
    line-height: 40px;
}