body {
    background: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#container {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    position: relative;
}

h2 {
    width: 354px;
    height: 80px;
    font-family: 'Karla', sans-serif;
    font-size: 35px;
    position: absolute;
    left: 52px;
    top: 115px;
    line-height: 40px;
}

h2 #lineOne {
    color: white;
    line-height: 40px;
}

h2 #lineTwo {
    color: #4ADF86;
    line-height: 40px;
}

p {
    width: 372px;
    height: 28px;
    position: absolute;
    left: 52px;
    top: 205px;
    color: #D5D4D8;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
}

#generate {
    position: absolute;
    left: 52px;
    top: 284px;
    width: 191px;
    height: 42px;
    background: #10B981;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.divider {
    width: 446px;
    height: 0.5px;
    position: absolute;
    left: 52px;
    top: 361px;
    background: #2F3E53;
}

#password-one {
    width: 211px;
    height: 39px;
    color: #55F991;
    background: #273549;
    position: absolute;
    left: 52px;
    top: 396px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#password-two {
    width: 211px;
    height: 39px;
    color: #55F991;
    background: #273549;
    position: absolute;
    left: 287px;
    top: 396px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}