body {
    background: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#container {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    position: relative;
}